        <li><a href="/pinknoise">Pink Noise</a></li>
                  <li><a href="/bluenoise">Blue Noise</a></li>
                  <li><a href="/purplenoise">Purple Noise</a></li>
                  <li><a href="/brownnoise">Brown Noise</a></li>
                  <li><a href="/greynoise">Grey Noise</a></li>
                  
                </ul>
              <li><a class="nav-link scrollto " href="/notes">Notes</a></li>
          
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <a href="/logout" class="get-started-btn scrollto">LogOut</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>What are you thinking right now?  </h2>
          <br></br>
          <form action="/notes/create" method="post">
            <label><textarea name="description" cols="50" rows="10"></textarea></label>
              <br></b
        
